<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a class="bitem" onclick="history.back()">Back</a></li>
            <li class="breadcrumb-item active" aria-current="page">Edit Event</li>
        </ol>
    </div>
</nav>
<div class="signup-box">
    <h1 class="h3 mb-0 centerHead bold">Edit Event</h1>
    <div class="errors">
        {{#if errors}}
        {{errors}}
        {{/if}}
    </div>
    <form id="event-registration-form" action="/events/edit/{{eventsPostData._id}}" method="POST">

        <label for="title"> Title</label>
        <input type="text" id="title" name="title" placeholder="Title" value="{{eventsPostData.title}}" required>

        <label for="description">Description</label>
        <textarea style="width: 100%;" id="description" name="description" placeholder="Description" rows="3"
            required>{{eventsPostData.description}}</textarea>

        <label for="eventDate">Event Date Time</label>
        <input type="datetime-local" id="eventDate" name="eventDate" value="{{eventsPostData.eventDate}}" required>

        <label for="location">Event Location</label>
        <input type="text" id="location" name="location" placeholder="Event Location"
            value="{{eventsPostData.eventLocation}}" required>

        <label for="participantLimit">Participant Limit</label>
        <input type="number" min="2" id="participantLimit" name="participantLimit" placeholder="Participant Limit "
            value="{{eventsPostData.participantLimit}}" required>

        <label for="perks">Perks</label>
        <input type="text" id="perks" name="perks" placeholder="Perks" value="{{eventsPostData.perks}}" required>

        <button id="submitButtonEventRegister" class="buttonRegister" type="submit">Edit</button>

    </form>

</div>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous">
    </script>
<script src="/public/js/eventEdit.js"></script>