<div class = "search-box">
    <form id="eventSearch" action="/events" method="POST">
        <input type="text" id="searchTerm" name="searchTerm">
        <button id="searchTermSubmit" type="submit">Submit</button>
    </form>
</div>
<div class="search-result-display">
    <div class="row">
    {{#each searchResult }}
    <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
          <img src="{{bannerUrl}}" alt ="Banner Image"/>
        <h5 class="card-title">{{title}}</h5>
        <p class="card-text">{{description}}</p>
        <p class="card-text"> ${{eventEntryPrice}}</p>
        <p class="card-text">{{eventDate}}</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  </div>
</div>
    {{/each}}
    </div>
</div>