<div class="container">
    <div class="main-body">
        <div class="row">
            <div class="col-lg-4">
                <div id="card" class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <img id="myProfileImg" src="/public/images/profiles/{{studentPostData.profileUrl}}"
                                alt="My Profile Image" class="rounded-circle p-1 bg-primary" style="">
                            <div class="mt-3">
                                <h1 class="h2 centerHead">{{studentPostData.firstName}} {{studentPostData.lastName}}
                                </h1>
                                <p class="text-secondary mb-1" style="padding-top:0px ;">{{studentPostData.email}}</p>
                                <p class="text-muted font-size-sm">{{studentPostData.phoneNumber}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div id="card" class="card">
                    <form id="my-profile-form" action="/myProfile" method="POST">
                        <div class="card-body">
                            <div class="errors">
                                {{#if errors}}
                                {{errors}}
                                {{/if}}
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-3">
                                    <h2 class="h6 mb-0">First name</h2>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <input type="text" id="firstName" name="firstName" class="form-control"
                                        value="{{studentPostData.firstName}}" required />
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-3">
                                    <h3 class="h6 mb-0">Last Name</h3>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <input type="text" id="lastName" name="lastName" class="form-control"
                                        value="{{studentPostData.lastName}}" required />
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-3">
                                    <h3 class="h6 mb-0">Email ID</h3>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <input type="email" id="email" name="email" class="form-control"
                                        value="{{studentPostData.email}}" required />
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-3">
                                    <h3 class="h6 mb-0">Phone Number</h3>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <input type="number" id="phoneNumber" name="phoneNumber" class="form-control"
                                        value="{{studentPostData.phoneNumber}}" required />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3"></div>
                                <div class="col-sm-9 text-secondary">
                                    <button id="editBtn" type="button" class="btn btn-primary px-4">Edit
                                        Profile</button>
                                    <button id="saveBtn" type="submit" class="btn btn-primary px-4">Save
                                        Changes</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous">
    </script>
<script src="/public/js/myProfile.js"></script>