<div class="signup-box">
  <h1 class="centerHead bold">Sign Up</h1>
  <div class="errors">
    {{#if errors}}
    {{errors}}
    {{/if}}
  </div>
  <form id="signup-form" action="/signup" method="POST" enctype="multipart/form-data">
    <label for="firstName">First Name</label>
    <input type="text" id="firstName" name="firstName" placeholder="First Name" value="{{studentPostData.firstName}}"
      required />

    <label for="lastName">Last Name</label>
    <input type="text" id="lastName" name="lastName" placeholder="Last Name" value="{{studentPostData.lastName}}"
      required />

    <label for="email">Email</label>
    <input type="email" id="email" name="email" placeholder="Stevens Email" value="{{studentPostData.email}}"
      required />

    <label for="password">Password</label>
    <input type="password" id="password" name="password" placeholder="Password" value="{{studentPostData.password}}"
      required />

    <label for="confirmPassword">Confirm Password</label>
    <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirm Password" value=""
      required />

    <label for="phoneNumber">Phone Number</label>
    <input type="tel" id="phoneNumber" name="phoneNumber" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
      placeholder="Phone Number" value="{{studentPostData.phoneNumber}}" required />

    <label for="profileUrl">Upload Profile Picture</label>
    <input type="file" id="profileUrl" name="profileUrl" accept="image/png, image/jpeg" />

    <button id="submitButton" class="buttonRegister" type="submit">Submit</button>
  </form>
</div>
<p class="para-2">
  Already have an account? <a href="/">Login here</a>
</p>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous">
  </script>
<script src="/public/js/signup.js"></script>